.exercise-image {
  max-height: 320px;
  max-width: 600px;
  align-content: center;
}
.card-image {
  max-height: 345px;
  max-width: 208px;
  align-content: center;
}
.col-lg-12 {
  margin: 10px;
  padding: 10px;
}
.single-trainer-item {
  margin: 10px;
}

/* LUNGES GIF */
/* https: //seven.app/media/images/Lunges.gif; */
